*{
    margin: 0%;
    padding: 0%;
}

.empbox{
    /* position: relative;
    left: 30px;
    top: 30px; */
    margin-left: 30px;
    margin-top: 30px;
    width: 220px;
    height: 300px;
    border: 1px solid black;
    background: linear-gradient(180deg, #7fffd4 68%,brown 30%);
    border-radius: 7px;
    display: inline-block;
    
}

.immg img{
    width: 150px;
    height: 200px; 
    margin-left: 30px;
}

.name{
    position: relative;
    top: 13px;
    margin-left: 25px;
    margin-bottom: 55px;
    font-weight: bold;
    font-size: larger;
    color: rgb(255, 255, 255);
    
}

.name .name2{
    margin-top: 20px;
}

button{
    position: relative;
    left: 130px;
    bottom: 90px;
    padding: 5px;
    text-align: end;
    cursor: pointer;
    width: 70px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}

button i{
    position: relative;
    right: 10px;
    
}

button:hover{
    background-color: rgb(4, 0, 255);
}

button:active{
    animation: click 2s ease-in-out;
}

@keyframes click {
    0% {background: rgb(4, 0, 255);  transform: translate(-2px, 2px);}
    100% {background: rgb(4, 0, 255) ; transform: translate(0, 0);}
   }


