body {
    background-color: aquamarine;
}

#loginForm {
    background-color: rgb(205, 205, 202);
    width: 40%;
    padding: 1%;
    border-radius: 10px;
}

#loginForm input {
    width: 90%;
    margin-top: 5px;
}

#loginForm button{
    margin-top:10px;
}

.log{
  display: flex;
  justify-content: center;
margin-top: 15%;  
}
