nav {
    background-color: black;
}

nav ul {
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
}

nav li {
    /* display: inline-block; */
    display: inline;
    /* flex:1; */

}

nav a {
    color: white;
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400; 
    font-family: sans-serif;
}

body {
    margin: 0px;
}